.world-details-card {
  max-width: 800px;
}

.world-header-image {
  background-image: url('/assets/planet.png');
  background-size: cover;
}

.world-details-header-title {
  font-weight: bold;
  font-size: 200%;
}

.world-details-header-subtitle {
  font-size: 100%;
}
